html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:Microsoft JhengHei;
}
ol, ul {
	list-style: none;
}
blockquote, q { 
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a:hover, a:visited, a:hover:visited{
	color: inherit;
	text-decoration: none;
}
h1{
	font-size: 250%;
}
h2{
	font-size: 220%;
}
h3{
	font-size: 190%;
}
h4{
	font-size: 170%;
}
h5{
	font-size: 140%;
}
h6{
	font-size: 100%;
}
#clear{
	clear: both;
}
/*==== reset css =====*/
body{
	background: rgb(250,250,250);
}
#wrapper{
	min-width: 750px;
	background: rgb(250,250,250);	
}
#header{
	width: 100%;
	min-width: 750px;
	position: fixed;
	z-index: 100;
}
#header_container{
	height:100px;
	background: rgb(255,255,255);
	background-size:  cover;
}
#header_title{
	height: 70px;
}
#header_title>h1{
	color: rgb(140,140,140);
	letter-spacing: 20px;
	padding-top: 10px;
	padding-left: 50px;
}
#header_link{
	width: 270px;
	position: absolute;
	top:20px;
	right:20px;
	line-height: 20px;
	color:rgb(181,181,181);
}
.link{
	padding-left: 10px;
	padding-right: 10px;
	border-left: 2px solid rgb(239,239,239);
	float: left;
}
.link:hover{
	color:rgb(160,160,160);
}
.left{
	border:none;
}
#header_menu{
	height: 30px;
	background: url(../images/header_menu.png);
	background-size: 100%;
}
#header_menu>ul{
	text-align: center;
}	
#header_menu>ul li{
	color: rgb(150,150,150);
	text-align: center;
	line-height: 30px;
	display: inline-block;
	width: 100px;
}
#header_menu>ul li>a{
	display:block;
	width: 100px;
}	
#header_menu>ul li:hover{
	background: rgba(0,0,0,0.05);
}	
#main{
	min-height: 1280px;/***********僅方便展示，請記得刪除min-height: 700px;!!************/
	padding-top: 100px;
	background-color: rgb(250,250,250);
}	
#footer{
	height: 150px;
	padding:30px;
	padding-left: 50px;
	font-family: Merriweather, Georgia;
	background: rgb(240,240,240);
}
#about{
	width: 35%;
	float: left;
	margin-right: 30px;
}
#footer h5{
	padding-bottom: 20px;
	font-weight: bolder;
}
#footer p,#footer li{
	line-height: 25px;
	color: rgb(140,140,140);
	font-family: Microsoft JhengHei;
	font-size: 80%;
	text-align: justify;
}
#connect{
	width: 35%;
	float: left;
}
#connect li{
	list-style-type:disc;
	list-style-position:inside;
}
#social_link{
	width: 25%;
	float: right;
	text-align: right;
}
#social_link span{
	font-size:150%;
	font-family: Microsoft JhengHei;
	letter-spacing: 10px;
	display: block;
	padding-bottom: 20px;
}
#social_link img{
	width: 50px;
}
	